<h1>Click a Song To View Songs</h1>

<%= link_to 'Add a new song', new_art_song_path(@art) %>

<ul>

  <% @song.each do |song| %>
    <li><%= link_to song.name, [@art, song] %></li>
  <% end %>

</ul>