<h1>Click a Board To View Artists</h1>
<%= link_to 'Create your board of top Artists and their songs', new_board_path %>
<ul>
  <% @boards.each do |board| %>
    <li> <%= link_to board.name, board %></li>
  <% end %>
</ul>