<h1><%= @board.name %></h1>

<hr />

<p>What would you like to do?</p>



<%= link_to 'View Artists', board_arts_path(@board) %>

<br />

<%= link_to 'Edit board', edit_board_path(@board) %>

<br />

<%= link_to 'Delete board', @board, method: :delete %>