<h1>Click an Artist To View Songs</h1>

<%= link_to 'Add an Artist', new_board_art_path(@board) %>

<ul>

  <% @arts.each do |t| %>
    <li><%= link_to t.name, board_art_path(@board, t) %></li>
  <% end %>

</ul>